body {
    position: relative;
    overflow-x: hidden;
    padding-bottom: 50px;
    z-index: 1;
}
.navigasi-bar {
    box-shadow: 0px 1px 5px #ddd;
    padding: 10px;
    background-color: white;
    z-index: 3;
}
.side-img-logo small {
    position: relative;
    top: -15px;
    font-size: 12px;
}
.side-img-logo {
    position: relative;
    top: 7px;
    margin-left: 5px;
}
.navigasi-item {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.navigasi-item li{
    padding-left: 10px;
    padding-right: 10px;
    
}
.navigasi-item li a {
    text-decoration: none;
    color: #777;
}
.navigasi-item li a:hover{
    color: #222;
}
.list-item-nav {
    padding-top: 13px;
}
.login-link {
    display: flex;
    justify-content: flex-end;
    padding-top: 13px;
}
.login-link a{
    text-decoration: none;
    color: #777;
    padding-right: 30px;
}
.login-link a:hover{
    color: #222;
}
.menu-toggle {
    display: none;
}
.side-bar {
    display: none;
}
.carousel {
    margin: 0px;
    width: 95%;
}
.space-row {
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 60px;
    width: 100%;
}
.space-row-about {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
}

.info-box {
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    border-radius: 10px;
}
@media screen and (max-width: 961px){
    .space-row-about {
        flex-direction: column;
    }
    .info-box {
        width: 100%;
    }
}







@media screen and (max-width: 1002px){
    .list-item-nav {
        display: none;
    }
    .login-link {
        display: none;
    }
    nav .menu-toggle {
        display: flex;
        flex-direction: column;
        /* padding-right: 30px; */
        margin-right: 26px;
        padding: 5px;
        cursor: pointer;
        position: absolute;
        top: 23px;
        right: 0px;
    }
    nav .menu-toggle span {
        width: 28px;
        height: 4px;
        background-color: #555;
        margin-bottom: 3px;
        border-radius: 10px;
    }


    /* SIDEBAR SETTING */
    .side-bar {
        position: absolute;
        z-index: 4;
        top: 0px;
        right: 0px;
        width: 25%;
        background-color: #eee  ;
        height: 100vh;
        transform: translateX(100%);
        transition: 0.5s;
        padding: 0px;
    }
    @media screen and (max-width: 426px){
        .side-bar {
            width: 50%;
        }
    }
    .side-bar.slide{
        display: block;
        transform: translate(0,0);
    }
    .side-bar-item{
        padding: 0px;
        margin: 0px;
        margin-top: 10px;
        list-style-type: none;
        flex-direction: column;
    }
    .side-bar-item li {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }
    .side-bar-item a{
        text-decoration: none;
        color: black;
        font-size: 13px;
    }
    
    

}

.notif-login {
    position: fixed;
    z-index: 9;
    border-radius: 5px;
    right: 50px;
    left:50px;
    padding: 10px;
    font-size: auto;
    /* background-color: #333; */
    color: #333;
    
}
.carousel-item img{
    height: 400px;
}
@media screen and (min-width: 0px) {
    .carousel-item img {
        height: 150px;
    }
}
@media screen and (min-width: 426px){
    .carousel-item img {
        height: 200px;
    }
}
@media screen and (min-width: 946px){
    .carousel-item img {
        height: 380px;
    }
}
.card {
    width: 100%;
}